@import "leaflet/dist/leaflet.css";

/* Para que los iconos de los pines aparezcan correctamente */

html, body {
  overflow: hidden;
  height: 100%;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
}

.leaflet-container {
  position: absolute;
  top: 1.25vh;
  height: 95vh !important;

}

.leaflet-control-attribution > a {
  display: none;
}
