#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.notesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
}



